---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: trufflehog-secrets-scan

on:
  push:
    branches: ["**"]
  pull_request:
    branches: ["main"]

permissions:
  contents: read

jobs:
  trufflehog:
    name: TruffleHog OSS Secret Scan
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0

      - name: Scan repository for secrets
        uses: trufflesecurity/trufflehog@f15cb8b37b9b70056bc82a8eb7151f75fad27a71 # v3.90.13
        with:
          path: ./
          extra_args: --only-verified