---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: trufflehog-secrets-scan

on:
  push:
    branches: ["**"]
  pull_request:
    branches: ["main"]

permissions:
  contents: read

jobs:
  trufflehog:
    name: TruffleHog OSS Secret Scan
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          fetch-depth: 0

      - name: Scan repository for secrets
        uses: trufflesecurity/trufflehog@4158734f234bd8770128deae2e2975cfab4b66a6 # v3.93.2
        with:
          path: ./
          extra_args: --only-verified